body{
    margin: 0;
    padding: 0;
    font-family: inherit;
}

header{
    height: 118px;
    border-bottom: 1px solid #c9cacb;
    position: relative;
    font-family: "Porsche Next", "Arial Narrow", Arial, sans-serif;;
}

#main_logo{
    height: 133px;
    width: 133px;
    border-bottom: 1px solid #c9cacb; 
    border-left: 1px solid #c9cacb; 
    border-right: 1px solid #c9cacb;
    margin: 0 0 0 95px;
    background-color: white;
    position: relative;
    z-index: 2;
}

#main_logo>a>img{
    width: 120px;
    height: 72px;
    margin: 25px 0px 0 5px;
}


#car_list>ul{
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 13%;

}

#car_list>ul>li{
    margin: 0 0 0 10px;
    height: 90px;
}

#car_list>ul>li>div{
    text-align: center;
    font-family: inherit;
    margin: -12px 0 0 0;
    font-size: 16px;
}

.car_menu{
    display: inline-block;
}

.car_menu:hover{
    border-bottom: 2px solid #d5001c;;
}

#shop{
    position: absolute;
    top: 35px;
    left: 53%;
}

#shop>ul>li:hover{
    color: #d5001c;
    border-bottom: 2px solid #d5001c;
}

#shop>ul{
    display: inline-block;
}

#shop>ul>li{
    display: inline-block;
    margin: 0 5px 0 0;
    height: 65px;
}

#shop>ul>li>div{
    font-size: 16px;
}

#menu_line{
    background-color: #c9cacb;
    width: 1px;
    height: 38px;
    position: absolute;
    left: 70%;
    top: 40px;
}

#center_search{
    position: absolute;
    top: 26%;
    right: 8%;
}

#map_icon{
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    vertical-align: sub;
}

#map_search{
    display: inline-block;
    color: black;
}

#center_search:hover svg{
    fill :#d5001c
}

#center_search:hover #map_search{
    color: #d5001c;
}

.info_menu_1{
    background-color: white;
    width: 1640px;
    height: 425px;
    position: relative;
    margin: -15px 0 0 0px;
    display: none;
    transition: all 0.35s;
    top : -500px;
}

.info_menu_2{
    background-color: white;
    width: 1640px;
    height: 425px;
    position: relative;
    margin: -15px 0 0 0px;
    display: none;
}

.info_menu_3{
    background-color: white;
    width: 1640px;
    height: 425px;
    position: relative;
    margin: -15px 0 0 0px;
    display: none;
}

.info_menu_4{
    background-color: white;
    width: 1640px;
    height: 425px;
    position: relative;
    margin: -15px 0 0 0px;
    display: none;
}
.info_menu_5{
    background-color: white;
    width: 1640px;
    height: 425px;
    position: relative;
    margin: -15px 0 0 0px;
    display: none;
}
.info_menu_6{
    background-color: white;
    width: 1640px;
    height: 425px;
    position: relative;
    margin: -15px 0 0 0px;
    display: none;
}

.info_menu_3>li{
    list-style: none;
}

.info_menu_4>li{
    list-style: none;
}

.info_menu_5>li{
    list-style: none;
}

.info_menu_6>li{
    list-style: none;
}

.info_menu_2>li{
    list-style: none;
    top: 35%;
    left: 22%;
    position: absolute;
}

.info_menu_1>li{
    list-style: none;
}

.icon_size{
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    margin: 10px 0 0 16px;
    vertical-align: sub;
}

.info_text_1{
    display: inline-block;
    font-size: 16px;
    color: black;
}

#first{
    position: absolute;
    left: 34%;
    top: 7%;
    border-bottom: 1px solid #c9cacb;
    border-top: 1px solid #c9cacb;
    height: 54px;
    margin: 30px 0 0 0px;
}

#second{
    position: absolute;
    left: 42%;
    top: 30%;
    margin: 10px 0 0 0;
}

.second_911_inline{
    display: inline-block;
    margin: 0 0px 0 40px;
}

#third{
    position: absolute;
    top: 80%;
    left: 42%;
    border-top: 1px solid #c9cacb;
    border-bottom: 1px solid #c9cacb;
    height: 54px;
    margin: 16px 0px 0px -20px;
}

.info_menu_1>li>a:hover .icon_size{
    fill: #d5001c;
}

.info_menu_1>li>a:hover .info_text_1{
    color: #d5001c;
}

.info_menu_2>li>a:hover .icon_size{
    fill: #d5001c;
}

.info_menu_2>li>a:hover .info_text_1{
    color: #d5001c;
}

.info_menu_3>li>a:hover .icon_size{
    fill: #d5001c;
}

.info_menu_3>li>a:hover .info_text_1{
    color: #d5001c;
}

.info_menu_4>li>a:hover .icon_size{
    fill: #d5001c;
}

.info_menu_4>li>a:hover .info_text_1{
    color: #d5001c;
}

.info_menu_5>li>a:hover .icon_size{
    fill: #d5001c;
}

.info_menu_5>li>a:hover .info_text_1{
    color: #d5001c;
}

.info_menu_6>li>a:hover .icon_size{
    fill: #d5001c;
}

.info_menu_6>li>a:hover .info_text_1{
    color: #d5001c;
}

#second>a:hover .info_text_1{
    color: #d5001c;
}

#second_2>div:hover .info_text_1{
    color: #d5001c;
}
