body{
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-family: "Porsche Next", "Arial Narrow", Arial, sans-serif;
}

header{
    height: 118px;
    border-bottom: 1px solid #c9cacb;
    position: relative;
    font-family: "Porsche Next", "Arial Narrow", Arial, sans-serif;
}

#main_logo{
    height: 133px;
    width: 133px;
    border-bottom: 1px solid #c9cacb; 
    border-left: 1px solid #c9cacb; 
    border-right: 1px solid #c9cacb;
    margin: 0 0 0 95px;
    background-color: white;
    position: relative;
    z-index: 2;
}

#main_logo>a>img{
    width: 120px;
    height: 72px;
    margin: 25px 0px 0 5px;
}


#car_list>ul{
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 13%;

}

#car_list>ul>li{
    margin: 0 0 0 10px;
    height: 90px;
}

#car_list>ul>li>div{
    text-align: center;
    font-family: inherit;
    margin: -12px 0 0 0;
    font-size: 16px;
}

.car_menu{
    display: inline-block;
}

.car_menu:hover{
    border-bottom: 2px solid #d5001c;;
}

#shop{
    position: absolute;
    top: 35px;
    left: 53%;
}

#shop>ul>li:hover{
    color: #d5001c;
    border-bottom: 2px solid #d5001c;
}

#shop>ul{
    display: inline-block;
}

#shop>ul>li{
    display: inline-block;
    margin: 0 5px 0 0;
    height: 65px;
}

#shop>ul>li>div{
    font-size: 16px;
}

#menu_line{
    background-color: #c9cacb;
    width: 1px;
    height: 38px;
    position: absolute;
    left: 70%;
    top: 40px;
}

#center_search{
    position: absolute;
    top: 26%;
    right: 8%;
}

#map_icon{
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    vertical-align: sub;
}

#map_search{
    display: inline-block;
    color: black;
}

#center_search:hover svg{
    fill :#d5001c
}

#center_search:hover #map_search{
    color: #d5001c;
}

.info_menu_1{
    background-color: white;
    width: 1640px;
    height: 425px;
    position: relative;
    margin: -15px 0 0 0px;
    transition: all 0.35s;
    display: none;
    z-index: 1;
}

.info_menu_2{
    background-color: white;
    width: 1640px;
    height: 425px;
    position: relative;
    margin: -15px 0 0 0px;
    display: none;
    z-index: 1;
}

.info_menu_3{
    background-color: white;
    width: 1640px;
    height: 425px;
    position: relative;
    margin: -15px 0 0 0px;
    display: none;
    z-index: 1;
}

.info_menu_4{
    background-color: white;
    width: 1640px;
    height: 425px;
    position: relative;
    margin: -15px 0 0 0px;
    display: none;
    z-index: 1;
}
.info_menu_5{
    background-color: white;
    width: 1640px;
    height: 425px;
    position: relative;
    margin: -15px 0 0 0px;
    display: none;
    z-index: 1;
}
.info_menu_6{
    background-color: white;
    width: 1640px;
    height: 425px;
    position: relative;
    margin: -15px 0 0 0px;
    display: none;
    z-index: 1;
}

.shop_menu{
    background-color: white;
    height: 253px;
    margin: -15px 0 0 0;
    position: relative;
    display: none;
    z-index: 1;
}

.shop_menu_detail{
    background-color: white;
    width: 1640px;
    height: 543px;
    margin: -15px 0 0 0;
    position: relative;
    display: none;
    z-index: 1;
}

.shop_menu_detail>li{
    width: 267px;
    height: 412px;
    display: inline-block;
    list-style: none;
    margin: 55px -264px 0 317px;
}

.shop_menu_detail>li>ul{
    position: absolute;
    list-style: none;
}

#shop_menu_detail_title{
    font-size: 22px;
    border-bottom: 1px solid black;
    width: 267px;
    padding: 0px 0px 5px 5px;
}

.shop_menu_detail_info{
    margin: 25px 70px 0 0;
}

.shop_menu_detail_info>a:hover{
    color: #d5001c;
}

.shop_menu_detail_info>a{
    font-size: 16px;
    color: black;
    text-decoration: none;
}

.shop_menu>li{
    position: absolute;
}

#shop_main_title{
    top: 25%;
    font-size: 22px;
    list-style: none;
    left: 43%;
    border-bottom: 1px solid black;
    width: 267px;
    padding :0px 0px 5px 15px;
}

#shop_main_info{
    font-family: "Porsche Next", "Arial Narrow", Arial, sans-serif;
    list-style: none;
    top: 50%;
    left: 42%;
}

.shop_main_info_detail{
    list-style: none;
    margin: 5px 0px 0px 0px;
}

.shop_main_info_detail>a:hover{
    color: #d5001c;
}

.shop_main_info_detail>a{
    text-decoration: none;
    color: black;
}

.info_menu_3>li{
    list-style: none;
}

.info_menu_4>li{
    list-style: none;
}

.info_menu_5>li{
    list-style: none;
}

.info_menu_6>li{
    list-style: none;
}

.info_menu_2>li{
    list-style: none;
    top: 35%;
    left: 22%;
    position: absolute;
}

.info_menu_1>li{
    list-style: none;
}

.icon_size{
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    margin: 10px 0 0 16px;
    vertical-align: sub;
}

.info_text_1{
    display: inline-block;
    font-size: 16px;
    color: black;
}

#first{
    position: absolute;
    left: 34%;
    top: 7%;
    border-bottom: 1px solid #c9cacb;
    border-top: 1px solid #c9cacb;
    height: 54px;
    margin: 30px 0 0 0px;
}

#second{
    position: absolute;
    left: 42%;
    top: 30%;
    margin: 10px 0 0 0;
}

.second_911_inline{
    display: inline-block;
    margin: 0 0px 0 40px;
}

#third{
    position: absolute;
    top: 80%;
    left: 42%;
    border-top: 1px solid #c9cacb;
    border-bottom: 1px solid #c9cacb;
    height: 54px;
    margin: 16px 0px 0px -20px;
}

.info_menu_1>li>a:hover .icon_size{
    fill: #d5001c;
}

.info_menu_1>li>a:hover .info_text_1{
    color: #d5001c;
}

.info_menu_2>li>a:hover .icon_size{
    fill: #d5001c;
}

.info_menu_2>li>a:hover .info_text_1{
    color: #d5001c;
}

.info_menu_3>li>a:hover .icon_size{
    fill: #d5001c;
}

.info_menu_3>li>a:hover .info_text_1{
    color: #d5001c;
}

.info_menu_4>li>a:hover .icon_size{
    fill: #d5001c;
}

.info_menu_4>li>a:hover .info_text_1{
    color: #d5001c;
}

.info_menu_5>li>a:hover .icon_size{
    fill: #d5001c;
}

.info_menu_5>li>a:hover .info_text_1{
    color: #d5001c;
}

.info_menu_6>li>a:hover .icon_size{
    fill: #d5001c;
}

.info_menu_6>li>a:hover .info_text_1{
    color: #d5001c;
}

#second>a:hover .info_text_1{
    color: #d5001c;
}

#second_2>div:hover .info_text_1{
    color: #d5001c;
}

#main_1{
    height: 625px;
    position: relative;
    overflow: hidden;
}

#main_2{
    height: 985px;
}

#main_3{
    height: 523px;
    border: 1px solid orange;
}

#main_4{
    height: 776px;
    border: 1px solid yellow;
}

#main_5{
    height: 470px;
    border: 1px solid green;
}

#main_6{
    height: 482px;
    border: 1px solid purple;
}

#main_7{
    height: 482px;
    border: 1px solid pink;
}

#main_1>ul{
    width: 6706px;
    margin: 0 0 0 -40px;
    position: absolute;
    transition: all 0.85s;
}

#main_1>ul>li{
    display: inline-block;
    position: relative;
}

.img_width>img{
    width: 1676px;
    height: 624px;
}

#img_text{
    position: absolute;
    color: white;
    top: 62%;
    left: 5%;
}

#content_tag::before{
    content: "\f054";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    font-size: 35px;
    color: #d5001c;
    margin: 0 10px 0 0;
}

#content_tag{
    font-size: 52px;
    font-weight: 900;
}

#img_text_2{
    font-size: 28px;
    margin: -45px 0 0 35px;
    font-weight: 900;
}

#img_text2{
    position: absolute;
    color: white;
    top: 62%;
    left: 70%;
}

#img_text:hover{
    color: #d5001c;
}

#img_text2:hover{
    color: #d5001c;
}

#img_text3:hover{
    color: #d5001c;
}

#img_text4:hover{
    color: #d5001c;
}

#content_tag2::before{
    content: "\f054";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    font-size: 35px;
    color: #d5001c;
    margin: 0 10px 0 0;
}

#content_tag2{
    font-size: 52px;
    font-weight: 900;
}

#img_text_3{
    font-size: 28px;
    margin: -45px 0 0 35px;
    font-weight: 900;
}

#img_text3{
    position: absolute;
    color: white;
    left: 5%;
    top: 62%;
}


#content_tag3::before{
    content: "\f054";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    font-size: 35px;
    color: #d5001c;
    margin: 0 10px 0 0;
}

#content_tag3{
    font-size: 52px;
    font-weight: 900;
}

#img_text_4{
    font-size: 28px;
    margin: -45px 0 0 35px;
    font-weight: 900;
}

#img_text4{
    position: absolute;
    color: white;
    left: 70%;
    top: 62%;
}


#content_tag4::before{
    content: "\f054";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    font-size: 35px;
    color: #d5001c;
    margin: 0 10px 0 0;
}

#content_tag4{
    font-size: 52px;
    font-weight: 900;
}

#img_text_5{
    font-size: 28px;
    margin: -45px 0 0 35px;
    font-weight: 900;
}

#button_1{
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 10px;
    display: none;
}

#button_2{
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    position: absolute;
    right: 10px;
    top: 50%;
    display: none;
}

#button_1:hover{
    background-color: #d5001c;
}

#button_1:hover #button_1_content:before{
    color: white;
}

#button_2:hover{
    background-color: #d5001c;
}

#button_2:hover #button_2_content:before{
    color: white;
}

#button_1_content::before{
    content: "\f053";
    font-family: "Font Awesome 5 Free";
    font-size: 20px;
    font-weight: 900;
    color: black;
    margin: 0px 0px 0 16px;
}

#button_2_content::before{
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-size: 20px;
    font-weight: 900;
    color: black;
    margin: 0px 0px 0 18px;
}

#checkbox_main{
    position: absolute;
    bottom: 5%;
    left: 47%;
}

#checkbox_main>div{
    width: 24px;
    height: 12px;
    display: inline-block;
}


#redbutton1{
    background-color: red;
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
}

#redbutton2{
    background-color: white;
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
}

#redbutton3{
    background-color: white;
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
}

#redbutton4{
    background-color: white;
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
}

#model_text{
    height: 100px;
}

#model_text>span{
    font-size: 44px;
    font-family: "Porsche Next", "Arial Narrow", Arial, sans-serif;
    margin-left: 122px;
    display: inline-block;
    margin: 25px 0 0 122px;
    font-weight: 700;
}

#model_line1{
    width: 1724px;
    padding:0 0 0 0;
}

#model_line1>li{
    display: inline-block;
    position: relative;
}

#model_line1>li>img{
    margin: 0 0 0 -4px;
}

#model_line2{
    width: 1724px;
    padding: 0px 0px 0 0;
    margin: -19px 0 0 0;
}

#model_line2>li{
    display: inline-block;
    position: relative;
}

#model_line2>li>img{
    margin: 0 0 0 -4px;
}

.small_text{
    position: absolute;
    top: 5%;
    left: 7%;
}

.small_name{
    color: white;
    font-size: 45px;
    font-weight: bold;
    font-family: "Porsche Next", "Arial Narrow", Arial, sans-serif;
}

.small_price{
    color: white;
    font-size: 25px;
    font-weight: bold;
    font-family: "Porsche Next", "Arial Narrow", Arial, sans-serif;
    display: block;
}

.small_save{
    position: absolute;
    top: 80%;
    left: 7%;
}

.small_save_1{
    background-color: #ffffff;
    width: 195px;
    height: 50px;
    display: inline-block;
    margin: 0px 8px 0 0px;
}

.small_save_2{
    border: 1px solid white;
    width: 122px;
    height: 48px;
    display: inline-block;
    vertical-align: bottom;
}

.small_save_1>p::before{
    content: "\f14d";
    font-family: "Font Awesome 5 Free";
    font-size: 16px;
    font-weight: 900;
    color: black;
    margin: 0px 3px 0px 20px;
}

.small_save_1>p{
    display: inline-block;
}

.small_save_1>span{
    font-size: 16px;
    color: black;
    display: inline-block;
    font-weight: 400;
}

.small_save_2>p::before{
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-size: 16px;
    font-weight: 900;
    color: white;
    margin: 0px 3px 0px 23px;
}

.small_save_2>p{
    display: inline-block;
}

.small_save_2>span{
    font-size: 16px;
    color: white;
    display: inline-block;
    font-weight: 400;
}

.small_save_1:hover{
    background-color: #d5001c;
}

.small_save_1:hover span{
    color: white;
}

.small_save_1:hover p:before{
    color: white;
}

.small_save_2:hover{
    border: 1px solid #d5001c;
}

.small_save_2:hover span{
    color: #d5001c
}

.small_save_2:hover p:before{
    color: #d5001c;
}

